<div id='pinuniverse-show' class='show-contacts my-shadow'>
    <h2>Your Pin-Universes</h2>
    {% for key, universe in pinuniverses.items %}
    <div class='universe-card'>
        <div class='row'>
            <div class='col-4'>
                <img src='{{universe.image}}'>
            </div>
            <div class='col-8'>
                <h2>{{universe.title}}</h2>
                <h5>{{universe.chapter_count}} chapter</h5>
                <div class='d-flex'>
                    <button style='margin-left: 5px' onclick='read("{{universe.firstchapter_id}}")'><i class="fa-solid fa-book-open-reader"></i></button>
                    <button style='margin-left: 5px'><i class="fa-solid fa-rectangle-xmark"></i></button>
                </div>
                <p><strong>Rules:</strong> {{universe.rules}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>