{% for postid, content in posts.items %}
    <div class="post my-shadow" style="border: solid 2px; border-color: black; height: fit-content;">
        <div class="post-header">
            <h3 style='margin: 5px; display: flex;'>
                <div class="circle-container">
                    <img style='margin-top: -5px' src="{{ content.avartar }}"></img>
                </div>
                <div>
                    {{ content.user_post }} introduced Chapter: <strong>{{ content.chapter_title }}</strong>
                </div>
                <div style='opacity: 0.7;' class='tooltip' data-bs-placement="bottom"
                {% if content.is_accepted %}
                title="This chapter have been accepted by master"
                {% else %}
                title="This chapter is waiting for accepted from master"
                {% endif %}
                >
                    {% if content.is_accepted %}
                    <i class="fa-regular fa-circle-check"></i>
                    {% else %}
                    <i class="fa-solid fa-hourglass-start"></i>
                    {% endif %}
                </div>
            </h3>
            <p class="text-muted">{{ content.time_stamp }}</p>
            <p>{{ content.content }}</p>
        </div>
        <div class="post-main" style="height: fit-content; margin: 2px;">
            <button class="options-button" onclick="toggleOptions('menu{{postid}}')">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="options-menu" id="menu{{postid}}">
                <a href="#">Universe <strong>{{ content.universe_title }}</strong></a>
                <a href="#">Author <strong>{{ content.chapter_author }}</strong></a>
                <a href="#">Report</a>
            </div>
            <div class="cover-img" style="border: solid 2px; border-color: black; height: fit-content;">
                <img src="{{ content.universe_img }}" style="width: 100%; height: 200px;">
            </div>
            <div class="chapter-intro container" style="border: solid 2px; border-color: black; height: max-content;">
                <h3>Universe: <strong>{{ content.universe_title }}</strong></h3>
                <h5 class="d-flex"><p>Chapter Author: </p><div class="circle-container" style="width: 30px; height:30px;"><img style="margin-top: -3px" src="{{ content.author_avartar }}"></img></div><strong> {{ content.chapter_author }}</strong></h5>
                <p style="margin: 2px; font-size: larger;" class='two-columns'>
                    {{ content.chapter_intro }}
                </p>
                <div style="text-align: end; margin: 2px;">
                    <button style="border-radius: 5px;" onclick='read("{{ content.chapter_id }}")'>Read this chapter</button>
                </div>
            </div>
        </div>
        <div class="post-interaction" style="text-align: center; border: solid 2px; border-color: black; height: fit-content; margin: 2px;">
            <button style="border-radius: 3px; margin-top: 5px; margin-bottom: 5px; margin-right: 80px;"><i class="fa-solid fa-star-half-stroke" style="color: black; font-size: 30px;"></i> {{ content.chapter_star }}</button>
            <button style="border-radius: 3px; margin-top: 5px; margin-bottom: 5px; margin-left: 80px; margin-right: 80px;"><i class="fa-regular fa-comment-dots" style="color: black; font-size: 30px;"></i> {{ content.count_cmt }}</button>
            <button style="border-radius: 3px; margin-top: 5px; margin-bottom: 5px; margin-left: 80px; margin-right: 80px;"><i class="fa-solid fa-circle-dollar-to-slot" style="color: black; font-size: 30px;"></i></button>
            <button style="border-radius: 3px; margin-top: 5px; margin-bottom: 5px; margin-left: 80px;"><i class="fa-solid fa-share" style="color: black; font-size: 30px;"></i> {{ content.count_shared }}</button>
        </div>
    </div>
{% endfor %}