<div class="my-shadow container border-2 border border-dark rounded">
    <h3><i class='fa-solid fa-user'></i>Profile name: {{ account.profile_name }}</h3>
    <h3><i class='fa-solid fa-envelope'></i>Email: {{ account.email }}</h3>
    <h3><i class="fa-solid fa-file-signature"></i>First name: {{ account.first_name }}</h3>
    <h3><i class="fa-solid fa-signature"></i>Last name: {{ account.last_name }}</h3>
    <h3><i class="fa-solid fa-building"></i>Company: {{ account.company }}</h3>
    <h3><i class="fa-solid fa-pen"></i>Author exp: {{ account.author_exp }}</h3>
    <h3><i class="fa-solid fa-eye"></i>Reader exp: {{ account.reader_exp }}</h3>
</div>