#WellcomeBanner > .carousel-inner > .carousel-item{
    text-align: center;
}

#header-img > img{
    width: 100%;
    border-radius: 10%;
}

button:hover{
    background-color: wheat;
}

.forms-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.form-container > div{
    flex-grow: 2;
}

form {
    width: 100%;
    max-width: 500px;
}

button{
    width: 80%;
    border-radius: 10px;
}

#openLoginformButton, #openRegisterformButton {
    writing-mode: vertical-lr;
    height: 300px;
    width: 30px;
    margin: 0 5px;
}

main {
    height: 75vh;
}

#more-info-register-forms {
    text-align: center;
}