{% extends "base.html" %}

{% load static %}

{% block  customstylesheet %}
<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock customstylesheet %}

{% block customscript%}
<script src="{% static "js/index.js" %}"></script>
{% endblock customscript%}

{% block header %}
{% include "../forms/subforms/csrfsubForm.html" %}
<header id='header'>
</header>
{% endblock header %}
{% block toolsblock %}
<div id="tools-blog" class="col-2 content" style="border: solid 2px; border-color: chocolate; height: 100%;">
</div>
{% endblock toolsblock %}
{% block maincontent %}
<div id="main-content" class="col-7 content" style="border: solid 2px; border-color: chocolate; height: 100%; overflow-y: auto;">
</div>
{% endblock maincontent %}
{% block quickaccess %}
<div id="quick-acess" class="col-3 content" style="border: solid 2px; border-color: chocolate; height: 100%;">
</div>
{% endblock quickaccess %}