{% extends "base.html" %}

{% block header %}
<header style="text-align: center">
    {% if session_outtime %}
    <h1>Oops! Your session is out of time!</h1>
    <h1>Go to loggin page in <span id='countdown'>5</span> seconds.</h1>
    {% else %}
    <h1>Oops! Something went wrong when rendering the site!</h1>
    <h1>We will go home in <span id='countdown'>5</span> seconds.</h1>
    {% endif %}
    <script>
        window.onload = setInterval(function () {
            var countdownElement = document.getElementById('countdown');
            var count = parseInt(countdownElement.textContent);
            
            if (count > 1) {
                count--;
                countdownElement.textContent = count;
            } else {
                clearInterval(window.onload);
                // Chuyển hướng về trang chủ
                window.location.href = "{% url 'home' %}";
            }
        }, 1000);
    </script>
</header>
{% endblock header %}