{%load static%}
{% if  route == 'index/header'%}

{% include "../subtemplates/index/header.html" with logoutForm=logoutFormhtml %}

{% endif %}

{% if route == 'index/left' %}

{% include "../subtemplates/index/left.html" with name=profilename %}

{% endif %}

{% if route == 'index/main' %}

{% include "../subtemplates/index/main.html" %}

{% endif %}

{% if route == 'index/right' %}

{% include "../subtemplates/index/right.html" %}

{% endif %}

{% if route == 'personal/intro' %}

{% include "../subtemplates/personal/intro.html" %}

{% endif %}

{% if route == 'personal/info' %}

{% include "../subtemplates/personal/info.html" %}

{% endif %}

{% if route == 'readview/main' %}

{% include "../subtemplates/readview/chaptercontroller.html" %}

{% endif %}

{% if route == 'friends' %}

{% include "../subtemplates/friends/friendsmain.html" %}

{% endif %}

{% if route == 'universes' %}

{% include "../subtemplates/universes/universes.html" %}

{% endif %}